@charset "ISO-8859-1";

body{
	margin: 0;
	background-color: #708090;
}

#tabela{
	
	background-color: #A2B5CD;
	border: solid 2px;
	float: left;
	left: 50%;
	width : 400px;
	height : 150px;
	padding-top: 70px;
	padding-right: 10px;
	padding-left: 100px;
	position: absolute;
	margin-top: 50px;
	transform: translateX(-50%);
}